<div class="ha-home__title">
  <h1>Listado de Héroes</h1>
</div>
<div class="ha-home__form">
  <ha-form class="ha-home__form--input" (formChanged)="onFormChange($event)"></ha-form>
  <button class="ha-home__form--button" mat-button mat-raised color="primary" [routerLink]="['/detail', 'new']">
    <mat-icon>add</mat-icon>
    Nuevo Héroe
  </button>
</div>
<mat-divider></mat-divider>
<div *ngIf="showSpinner" class="ha-home__spinner">
  <mat-spinner></mat-spinner>
</div>

<ng-container *ngIf="heroes.length;else noCharacter">
  <div class="grid bm-8 pt-2">
    <div *ngFor="let hero of heroes" class="col-12 sm:col-4 md:col-3 xl:col-2">
      <heroes-card [hero]="hero"></heroes-card>
    </div>
  </div>
</ng-container>
<ng-template #noCharacter>
  <h1 class="ha-home__no-coincidence">No hay coincidencias</h1>
</ng-template>
